<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>播</string>
		<string>坡</string>
		<string>摸</string>
		<string>佛</string>
		<string>德</string>
		<string>特</string>
		<string>呢</string>
		<string>勒</string>
		<string>哥</string>
		<string>科</string>
		<string>喝</string>
		<string>机</string>
		<string>七</string>
		<string>西</string>
		<string>知</string>
		<string>吃</string>
		<string>诗</string>
		<string>日</string>
		<string>资</string>
		<string>雌</string>
		<string>思</string>
	</array>
	<array>
		<string>啊</string>
		<string>喔</string>
		<string>鹅</string>
		<string>爱</string>
		<string>雷</string>
		<string>熬</string>
		<string>欧</string>
		<string>安</string>
		<string>嗯</string>
		<string>昂</string>
		<string>棱</string>
		<string>儿</string>
		<string>衣</string>
		<string>呀</string>
		<string>耶</string>
		<string>腰</string>
		<string>纠</string>
		<string>烟</string>
		<string>因</string>
		<string>江</string>
		<string>英</string>
		<string>屋</string>
		<string>蛙</string>
		<string>窝</string>
		<string>歪</string>
		<string>吹</string>
		<string>弯</string>
		<string>广</string>
		<string>容</string>
		<string>迂</string>
		<string>约</string>
		<string>冤</string>
		<string>晕</string>
		<string>庸</string>
		<string>女</string>
		<string>律</string>
	</array>
	<array>
		<string>诗词</string>
		<string>司机</string>
		<string>稀有</string>
		<string>机器</string>
		<string>可口</string>
		<string>哥哥</string>
		<string>批评</string>
		<string>爬坡</string>
		<string>棒冰</string>
		<string>吐痰</string>
		<string>点灯</string>
		<string>商店</string>
		<string>大叔</string>
		<string>拉链</string>
		<string>算术</string>
		<string>操场</string>
		<string>粽子</string>
		<string>学校</string>
		<string>铅球</string>
		<string>京剧</string>
	</array>
	<array>
		<string>5113794，请问有人在家吗？</string>
		<string>跑跑跳跳，宝宝最喜欢吃葡萄。</string>
		<string>猜一猜，我是谁？</string>
		<string>爸爸哥哥，常常唱歌。</string>
		<string>姐姐，你去哪儿啊？</string>
		<string>上街买东西。</string>
		<string>给我一把雨伞吧。</string>
		<string>好，我一定给你买。</string>
		<string>你真是我的好姐姐。</string>
		<string>前天他到街上去买冰糖。</string>
		<string>隔壁家的阿姨很热情。</string>
		<string>清晨外出锻炼身体非常好！</string>
		<string>我一定会不断锻炼。</string>
	</array>
</array>
</plist>
