<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>bo</string>
		<string>po</string>
		<string>mo</string>
		<string>fo</string>
		<string>de</string>
		<string>te</string>
		<string>ne</string>
		<string>le</string>
		<string>ge</string>
		<string>ke</string>
		<string>he</string>
		<string>ji</string>
		<string>qi</string>
		<string>xi</string>
		<string>zhi</string>
		<string>chi</string>
		<string>shi</string>
		<string>ri</string>
		<string>zi</string>
		<string>ci</string>
		<string>si</string>
	</array>
	<array>
		<string>a</string>
		<string>o</string>
		<string>e</string>
		<string>ai</string>
		<string>lei</string>
		<string>ao</string>
		<string>ou</string>
		<string>an</string>
		<string>n</string>
		<string>ang</string>
		<string>leng</string>
		<string>er</string>
		<string>yi</string>
		<string>ya</string>
		<string>ye</string>
		<string>yao</string>
		<string>jiu</string>
		<string>yan</string>
		<string>yin</string>
		<string>jiang</string>
		<string>ying</string>
		<string>wu</string>
		<string>wa</string>
		<string>wo</string>
		<string>wai</string>
		<string>chui</string>
		<string>wan</string>
		<string>guang</string>
		<string>rong</string>
		<string>yu</string>
		<string>yue</string>
		<string>yuan</string>
		<string>yun</string>
		<string>yong</string>
		<string>nv</string>
		<string>lv</string>
	</array>
	<array>
		<string>sc</string>
		<string>sj</string>
		<string>xy</string>
		<string>jq</string>
		<string>kk</string>
		<string>gg</string>
		<string>pp</string>
		<string>papo</string>
		<string>bb</string>
		<string>tt</string>
		<string>diand</string>
		<string>sd</string>
		<string>ds</string>
		<string>ll</string>
		<string>ss</string>
		<string>cc</string>
		<string>zz</string>
		<string>xx</string>
		<string>qq</string>
		<string>jj</string>
	</array>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
	</array>
</array>
</plist>
