<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sex</key>
	<array>
		<string>男</string>
		<string>女</string>
	</array>
	<key>educations</key>
	<array>
		<string>小学</string>
		<string>初中</string>
		<string>高中</string>
		<string>大学</string>
		<string>研究生</string>
		<string>博士</string>
		<string>博士后</string>
	</array>
	<key>provinces</key>
	<array>
		<string>北京市</string>
		<string>上海市</string>
		<string>天津市</string>
		<string>重庆市</string>
		<string>河北省（冀）</string>
		<string>山东省（齐）</string>
		<string>辽宁省（辽）</string>
		<string>黑龙江省（黑）</string>
		<string>吉林省（吉）</string>
		<string>甘肃省（陇）</string>
		<string>青海省（青）</string>
		<string>河南省（豫）</string>
		<string>江苏省（苏）</string>
		<string>湖北省（鄂）</string>
		<string>湖南省（湘）</string>
		<string>江西省（赣）</string>
		<string>浙江省（浙）</string>
		<string>广东省（粤）</string>
		<string>云南省（滇）</string>
		<string>福建省（福）</string>
		<string>台湾省（台）</string>
		<string>海南省（琼）</string>
		<string>山西省（晋）</string>
		<string>四川省（川）</string>
		<string>陕西省（陕）</string>
		<string>贵州省（黔）</string>
		<string>安徽省（皖）</string>
		<string>广西壮族自治区</string>
		<string>内蒙古自治区</string>
		<string>西藏自治区</string>
		<string>新疆维吾尔自治区</string>
		<string>宁夏回族自治区</string>
		<string>澳门特别行政区</string>
		<string>香港特别行政区</string>
	</array>
	<key>careers</key>
	<array>
		<string>国家机关、党群组织、企业、事业单位负责人</string>
		<string>专业技术人员</string>
		<string>办事人员和有关人员</string>
		<string>商业、服务业人员</string>
		<string>农、林、牧、渔、水利业生产人员</string>
		<string>生产、运输设备操作人员及有关人员</string>
		<string>军人</string>
		<string>其他</string>
	</array>
</dict>
</plist>
